.sphene-edit-button {
	width: auto;
	height: 2em;
	top: 0;
	right: 0;
	position: absolute;
	background: #000;
	color: #fff;
	line-height: 1em;
	padding-top: 0.5em;
}

.sphene-editor {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	background: #fff;
	z-index: 100000;
	padding: 1em;
	left: 0;
	bottom: 0;
	right: 0;
}

.sphene-editor * {
	box-sizing: border-box;
	margin-top: 32px;
}

.sphene-page-body {
	background: #fff;
	padding: 1em;
}

body.sphene-page-body:not(.custom-background-image):before,
body.sphene-page-body:not(.custom-background-image):after {
	height: auto;
}

.sphene-editor__block {
	outline: 2px solid #eee;
}

.sphene-editor__block.is-loading {
	outline: 2px solid;
	outline-color: rgba(0, 255, 255, 1);
	animation: outline-pulse 3s infinite;
}

@keyframes outline-pulse {
	0%   { outline-color: rgba(0, 255, 255, 1); }
	50% { outline-color: rgba(0, 255, 255, 0); }
	100%   { outline-color: rgba(0, 255, 255, 1); }
}
