.sphene-edit-button,
.sphene-editor button {
  color: #ffffff;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.sphene-edit-button:hover,
.sphene-editor button:hover {
  background: #3cb0fd;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

.sphene-edit-button[disabled]:hover,
.sphene-editor button[disabled]:hover {
  background: #1a1a1a;
  border: 0;
  border-radius: 0;
  padding: 10px 20px 10px 20px;
}

.sphene-edit-button[disabled],
.sphene-editor button[disabled] {
  background: #1a1a1a;
  opacity: 0.5;
  cursor: default;
}

.sphene-edit-button {
  box-sizing: border-box;
  width: auto;
  height: 2em;
  top: 0;
  right: 0;
  position: absolute;
  background: #000;
  color: #fff;
  line-height: 1em;
}

.sphene-editor {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: #fff;
  z-index: 100000;
  padding: 1em;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 32px;
}

.sphene-editor,
.sphene-editor * {
  box-sizing: border-box;
}

.sphene-page-body {
  background: #fff;
  padding: 1em;
}

body.sphene-page-body:not(.custom-background-image):before,
body.sphene-page-body:not(.custom-background-image):after {
  height: auto;
}

.sphene-editor__row {
  display: flex;
  width: 100%;
}

.sphene-editor__block {
  overflow: hidden;
  min-height: 120px;
  display: inline-block;
  flex: 1;
  width: 100%;
  margin: 10px;
}

.sphene-editor__block.is-loaded {
  animation: outline-fade 2s;
}

.sphene-editor__block:hover {
  outline: 2px solid #43ff50;
}

.sphene-editor__block.is-loading {
  outline: 2px solid #eee;
  outline-color: rgba(0, 255, 255, 1);
  animation: outline-pulse 3s infinite;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sphene-editor__block.is-selected {
  outline: 2px dotted #15a01f;
}

.sphene-editor__block.is-empty {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sphene-editor__block.is-empty button {
  max-width: 50%;
  min-width: 10em;
}

@keyframes outline-fade {
  0% {
    outline: 2px solid;
    outline-color: rgba(55, 55, 55, 1);
  }
  25% {
    outline: 2px solid;
    outline-color: rgba(55, 55, 55, 0.75);
  }
  50% {
    outline: 2px solid;
    outline-color: rgba(55, 55, 55, 0.50);
  }
  75% {
    outline: 2px solid;
    outline-color: rgba(55, 55, 55, 0.25);
  }
  99% {
    outline: 2px solid;
    outline-color: rgba(55, 55, 55, 0);
  }
  100% {
    outline: none;
  }
}

@keyframes outline-pulse {
  0%   { outline-color: rgba(0, 255, 255, 1); }
  50% { outline-color: rgba(0, 255, 255, 0); }
  100%   { outline-color: rgba(0, 255, 255, 1); }
}

.sphene-editor__block-type-picker,
.sphene-editor__block-image-picker,
.sphene-editor__block-options {
  border: 1px solid #000;
  background: #eee;
  position: fixed;
  width: 100%;
  height: 300px;
  bottom: -500px;
  left: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100002;
}

.sphene-editor__block-type-picker {
  display: block;
  text-align: center;
}

.sphene-editor__block-options {
  justify-content: center;
}

.sphene-editor__block-type-picker.is-active,
.sphene-editor__block-image-picker.is-active,
.sphene-editor__block-options.is-active {
  bottom: 0;
}

.sphene-editor__block-type-picker button,
.sphene-editor__block-options button {
  min-width: 10em;
}

.sphene-editor__overlay {
  position: absolute;
  top: -200vh;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100001;
  background: rgba(255, 255, 255, 0.28);
}

.sphene-editor__overlay.is-active {
  top: 0;
}

.sphene-editor__block-editor {
  border: 1px solid #000;
  background: #eee;
  position: fixed;
  width: 100%;
  height: 300px;
  bottom: -500px;
  left: 0;
  transition: all 0.5s ease-in-out;
  z-index: 100002;
}

.sphene-editor__block-editor.is-active {
  bottom: 0;
}

.sphene-editor__block-editor textarea {
  height: 80%;
  width: 100%;
}

.sphene-editor__save {
  top: -32px;
  left: 0;
  position: absolute;
}

.sphene-block {
  overflow: hidden;
  min-height: 120px;
  display: inline-block;
  flex: 1;
  width: 100%;
  margin: 10px;
}

.sphene-row {
  display: flex;
  width: 100%;
}

.sphene-editor__block.is-header img,
.sphene-block.is-header img {
  width: 100%;
}

.sphene-editor .sphene-editor__block-image-picker {
  display: block;
  text-align: center;
}

.sphene-editor .sphene-editor__image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sphene-editor .sphene-editor__image-list-item {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid #ccc;
}

.sphene-editor__block-options__add-col-before {
  position: absolute;
  left: 0;
}

.sphene-editor__block-options__add-col-after {
  position: absolute;
  right: 0;
}

.sphene-editor__block-options__add-row-before {
  position: absolute;
  top: 0;
}

.sphene-editor__block-options__add-row-after {
  position: absolute;
  bottom: 0;
}
